{% extends 'index.html' %}

{% block head %}
  <style>
    table {
      margin: 1rem 0;
    }
    table td{
      padding: 5px 10px;
    }
  </style>
{% endblock %}

{% block content %}

	<a href="{{ url_for('add_user') }}"><< Add User</a>

	<table border="1">
	{% for user in all_users %}
		<tr>
			<td>
				{{ user.id }}
			</td>
			<td>
				<a href="{{ url_for('find_user', userid=user.id) }}">{{ user.username }}</a>
			</td>
			<td>
				{{ user.email }}
			</td>
			<td>
				<a href="{{ url_for('delete_user', userid=user.id) }}">Delete</a>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}